<% if @brands.any? %>
  <h3>All brands</h3>
  <p>
    Click on a link to edit or delete the brand.
  </p>
  <ul>
    <% @brands.each() do |brand| %>
    <li><a href="/brand/<%= brand.id() %>" ><%= brand.name() %></a></li>
    <% end %>
  </ul>
<% else %>

<% end %>
<div class="well">
  <form class="form-horizontal" action="/brand" method="post">
    <label for="brand_type">Add a brand:</label>
    <input type="text" id="brand_type" name="brand_type">
    <button type="submit" name="button">Submit</button>
  </form>

</div>

<div class="well">
  <form class="form-horizontal" action="/brand" method="post">
    <label for="brand_price">Add a price: $</label>
    <input type="number" id="brand_price" name="brand_price">
    <button type="submit" name="button">Submit</button>
  </form>
</div>

<% if @stores.any?%>
    <div class="form-group">
      <label for="">Pick relevant stores for your brand:</label>
      <% @stores.each() do |store|%>
      <label class="form-check-label"><%= store.name() %><input type="checkbox" name="store_ids[]" value="<%= store.id() %>"></label>
      <% end%>
    </div>
  <% else %>
  <div class="form-group">
    <h3>You have not yet added any stores.</h3>
  </div>

  <% end %>
<p>
  <a href="/">Home</a>
</p>
