<div class="well">
  <h2>Welcome</h2>
  <p>
    <a href="/brand">Add a brand</a>
  </p>
  <p>
    <a href="/store">Add a store</a>
  </p>
  <p>
    <a href="/view_stores">View all stores</a>
  </p>
  <p>
    <a href="/view_brands">View all brands</a>
  </p>
</div>
