<div class="well">
  <h2>Welcome</h2>
  <p>
    <a href="/category">Add a category</a>
  </p>
  <p>
    <a href="/ingredient">Add an ingredient</a>
  </p>
  <p>
    <a href="/recipe">Add a Recipe</a>
  </p>
  <p>
    <a href="/recipe/view">View all Recipes</a>
  </p>
</div>
