<% if @stores.any? %>
  <h3>All Stores</h3>
  <p>
      Click on a link to edit or delete the store
  </p>
  <ul>
    <% @stores.each() do |store| %>
    <li><a href="/store/<%= store.id() %>"><%= store.name() %></a></li>
    <% end %>
  </ul>

  <% else %>

  <% end %>

<div class="well">
  <form class="form-horizontal" action="/store" method="post">
    <label for="store_name">Name of the store:</label>
    <input type="text" id="store_name" name="store_name">
    <button type="submit" name="button">Submit</button>

</div>

<% if @brands.any? %>
    <div class="form-group">
      <label for="">Pick any relevant brands for your store</label>
      <% @brands.each() do |brand| %>
      <label class="form-check-label"><%= brand.name() %> <input type="checkbox" name="brand_ids[]" value="<%= brand.id()%>"></label>
      <% end %>
    </div>
    <% else %>
    <div class="form-group">
      <h3>Please add a brand to your store</h3>
    </div>

    <% end %>

  </form>
<p>
  <a href="/">Home</a>
</p>
