<div class="well">
  <h3>All Stores:</h3>
  <p>Click on a store to edit the information and/or asscoiate a brand of shoe with your store.</p>
  <ul>
    <% @stores.each() do |store| %>
      <li><a href="<%= store.id() %>"><strong><%=  store.name() %></strong></a></li>
      <% end %>
      <% if store.brands.any? %>
      <ul>
        <h5>Brands</h5>
        <% store.brands.each() do |brand| %>
          <li><%= brand.name() %></li>
        <% end %>
      </ul>
      <% end %>
</div>


<p>
  <a href="/">Home</a>
</p>
